/* Code component themes*/
/*Variables*/
.gif_player {
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }
  .gif_player .play_button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px dashed #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    left: 50%;
    opacity: 1;
    padding: 14px 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    transition: transform 0.4s, opacity 0.4s; }
    .gif_player .play_button:hover {
      background-color: rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.7); }
    .gif_player .play_button::after {
      content: "GIF"; }
  .gif_player.playing .play_button {
    transform: translate(-50%, -50%) scale(0) rotate(180deg);
    opacity: 0.5; }
  .gif_player img {
    max-width: 100%; }

.flag-select {
  position: relative;
  display: inline-block;
  vertical-align: inherit;
  padding-bottom: 5px;
  color: #4d4d4d;
  text-align: left; }
  .flag-select img {
    width: 1.3em;
    height: 1.3em;
    position: relative;
    top: 0.3em; }
  .flag-select .selected--flag--option {
    cursor: pointer;
    padding: 0 8px; }
    .flag-select .selected--flag--option:before {
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 999; }
    .flag-select .selected--flag--option:focus {
      outline: none; }
    .flag-select .selected--flag--option .country-label {
      padding-left: 9px; }
  .flag-select .country-flag {
    cursor: pointer; }
    .flag-select .country-flag .country-label {
      font-size: 1em;
      position: relative; }
  .flag-select .flag-options {
    position: absolute;
    z-index: 999999;
    border: 1px solid #bdbbbb;
    border-radius: 3px;
    background: #ffffff;
    margin-top: 8px;
    padding: 8px 0;
    max-height: 160px;
    overflow: auto; }
    .flag-select .flag-options.to--left {
      right: 10px; }
  .flag-select .flag-option {
    cursor: pointer;
    padding: 0px 8px 3px 8px;
    margin: 4px 0;
    white-space: nowrap; }
    .flag-select .flag-option.has-label {
      padding: 0px 20px 3px 8px; }
    .flag-select .flag-option:hover {
      background: #eaeaea; }
    .flag-select .flag-option:focus {
      outline: none;
      background: #eaeaea; }
    .flag-select .flag-option .country-label {
      padding: 0 9px; }
  .flag-select .filterBox {
    width: 100%; }
    .flag-select .filterBox input {
      width: 90%;
      margin: 0 4%; }
      .flag-select .filterBox input:focus {
        outline: none; }
  .flag-select .arrow-down {
    color: #4d4d4d;
    padding: 2px; }
  .flag-select .hidden {
    display: none; }
  .flag-select .no--focus {
    pointer-events: none; }

body {
  /*Colors*/
  --blue1: #4285f4;
  --blue2: #065ac5;
  --white1: white;
  --grey1: #cccccc;
  /*Hero*/
  --Hero__Header-fontSize: 75px;
  --Hero__Header-fontStyle: normal;
  --Hero__Header-color: var(--white1);
  --Hero__Header-fontWeight: 700;
  --Hero__Header--phone-fontSize: 30px;
  --Hero__SubHeader-fontSize: 40px;
  --Hero__SubHeader-color: var(--white1);
  --Hero__SubHeader-fontStyle: italic;
  --Hero__SubHeader--phone-fontSize: 20px;
  --Hero__Button-color: #000000;
  --Hero__Button-backgroundColor: #61dafb;
  /*Navbar*/
  --Navbar-backgroundColor: #20232a;
  --Navbar-color: var(--grey1);
  --Navbar--hover-color: #61dafb;
  --Navbar--transparent-backgroundColor: rgba(250, 250, 250, 0.9);
  --Navbar--transparent-boxShadow: rgba(0, 0, 0, .124);
  /*GithubDetail*/
  --GithubDetail__countbubble-backgroundColor: #dcdcdc;
  --GithubDetail__countbubble-borderradius: 0.4em;
  --GithubDetail__countbubble-padding: 6px;
  --GithubDetail__countbubble-ml: 11px;
  --GithubDetail__countbubble-border: 1px solid #dcdcdc;
  --GithubDetail__countbubble-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  --GithubDetail__countbubble-Color: #000;
  --GithubDetail__countbubble_after-border: 7px solid transparent;
  --GithubDetail__countbubble_after-borderColor: transparent #dcdcdc transparent transparent;
  --GithubDetail__buttonText-ml: 5px;
  --GithubDetail__btn_container-padding: 5px;
  --GithubDetail_btn-backgroundColor: #dcdcdc;
  --GithubDetail_btn-Color: #000;
  /*Code*/
  --CodeMirror__lines_backgroundColor: #fff;
  --CodeMirror__lines_backgroundColor-dark: #dcdcdc;
  --CodeMirror__header_with: 100%;
  --CodeMirror__header_height: 45px;
  --CodeMirror__header_backgroundColor: #dcdcdc;
  --CodeMirror__footer_with: 100%;
  --CodeMirror__footer_height: 15px;
  --CodeMirror__footer_backgroundColor: #dcdcdc;
  --CodeMirror__headerDark_with: 100%;
  --CodeMirror__headerDark_height: 45px;
  --CodeMirror__headerDark_backgroundColor: rgb(68, 68, 68);
  --CodeMirror__headerDark_Color: #fff;
  --CodeMirror__footerDark_with: 100%;
  --CodeMirror__footerDark_height: 15px;
  --CodeMirror__footerDark_backgroundColor: rgb(68, 68, 68);
  --CodeMirror__footerDark_Color: #fff;
  --CodeMirror__header_copybtn_margin: 10px -10px 0 0;
  --CodeMirror__header_deletebtn_margin: 10px 0 0 0;
  --CodeMirror__height: 250px;
  --CodeMirror__font_family: Lato;
  /*ContactUs*/
  --ContactUs__SubmitButton-color: var(--white1);
  --ContactUs__SubmitButton-backgroundColor: var(--blue1);
  --ContactUs__SubmitButton--hover-color: var(--white1);
  --ContactUs__SubmitButton--hover-backgroundColor: var(--blue2);
  /*Card*/
  --Card-borderRadius: 0px;
  --Card__Summary-fontSize: 17px;
  --Card__Summary-color: #000;
  --Card__Summary-backgroundColor: #fff;
  --Card__Title-fontSize: 23px;
  --Card__Title-color: #6d6d6d;
  --Card__Subtitle-fontSize: 0.9rem;
  --Card__Subtitle-color: #b5b5b5;
  /*Footer*/
  --Footer-color: var(--grey1);
  --Footer-backgroundColor: #383d45;
  --Footer__Sections__Link--hover-color: #fed136;
  --Footer__Sections__Header-fontSize: 1.5rem;
  --Footer__Sections__Link-fontSize: 0.8rem;
  --Footer__Copyright-fontSize: 0.8rem;
  /*Section*/
  --Section__Title-fontSize: 2rem;
  --Section__Title-color: #000;
  --Section__Subtitle-fontSize: 0.9rem;
  --Section__Subtitle-color: #b5b5b5;
  --Section--gray-backgroundColor: #f8f9fa;
  /*Language switcher*/
  --LanguageSwitcher-borderRadius: 0px;
  --LanguageSwitcher-fontSize: 0.7rem;
  --LanguageSwitcher__Option--hover-backgroundColor: #eaeaea;
  --LanguageSwitcher__Option--hover-color: #000;
  --LanguageSwitcher__Option-color: #000;
  --LanguageSwitcher--disabled-color: #b5b5b5;
  /*Button*/
  --Button-borderRadius: 0px;
  --Button-fontSize: 0.7rem;
  --Button-padding: 0.375rem 0.75rem;
  /*Input*/
  --Input-borderRadius: 4px;
  --Input-fontSize: 1rem;
  --Input-color: #cccccc;
  /*Label*/
  --Label-fontSize: 0.7rem;
  /*ContactInfo*/
  --ContactInfo__Location-height: 300px;
  --ContactInfo__Information-fontSize: 0.7rem;
  /*Backers*/
  --Backers__Image-width: 50px;
  --Backers__Image-height: 50px; }

/*Custom*/
.ReactPage {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; }
  .ReactPage .Navbar .NavbarBrand {
    color: #61dafb !important;
    font-weight: bold; }
  .ReactPage .Navbar .ReactPage__Navbar__SearchInput {
    background-color: transparent;
    border: none; }
  .ReactPage .Hero .Hero__Button {
    font-size: 20px;
    padding: 10px 20px; }
  .ReactPage .Hero .Hero__Button:hover {
    background-color: #ffffff; }
  .ReactPage .Hero .Hero__ButtonTutorial {
    color: #61dafb !important;
    font-size: 20px;
    background: transparent; }
  .ReactPage .Hero .Hero__ButtonTutorial:hover {
    color: #ffffff !important; }
  .ReactPage .ReactPage__MainHeader {
    font-size: 60px;
    color: #61dafb;
    font-weight: bold; }
  .ReactPage .ReactPage__MainSubHeader {
    font-size: 30px;
    font-weight: normal; }
  .ReactPage .ReactPage__FeaturesHeader {
    font-size: 24px;
    font-weight: 200;
    color: #6d6d6d; }
  .ReactPage .ReactPage__FeaturesSummary {
    line-height: 1.7; }
    .ReactPage .ReactPage__FeaturesSummary .ReactPage__FeaturesSummary__ReacNativeLink {
      background-color: rgba(187, 239, 253, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      color: #1a1a1a; }
  .ReactPage .ReactPage__ExampleHeader {
    color: #282c34;
    font-size: 25px;
    font-weight: bold; }
  .ReactPage code {
    background: rgba(255, 229, 100, 0.2);
    color: #1a1a1a;
    padding: 0 3px;
    font-size: 16px;
    word-break: break-word; }
  .ReactPage .ReactCodeMirror .CodeMirror {
    border-radius: 10px;
    height: 400px !important; }
  .ReactPage .Footer .Header {
    color: #999;
    font-size: 14px;
    font-weight: 700; }
  .ReactPage .Footer a {
    color: white;
    font-size: 14px;
    line-height: 2; }
  .ReactPage .Footer a:hover {
    color: #61dafb;
    text-decoration: none; }

/*Components*/
.img-shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.ImageList {
  display: inline-flex;
  flex-wrap: wrap; }
  .ImageList .ImageList__Container {
    margin-left: auto;
    margin-right: auto; }
    .ImageList .ImageList__Container img {
      max-width: 100px; }
  .ImageList .ImageList__Container--grayScale img {
    filter: grayscale(1); }

.Backers .ImageList .ImageList__Container {
  margin: 2px; }
  .Backers .ImageList .ImageList__Container img,
  .Backers .ImageList .ImageList__Container svg {
    width: 50px;
    height: 50px; }

.Browser .Browser__Icon {
  width: 50px;
  height: 50px; }

.img-shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.ImageList {
  display: inline-flex;
  flex-wrap: wrap; }
  .ImageList .ImageList__Container {
    margin-left: auto;
    margin-right: auto; }
    .ImageList .ImageList__Container img {
      max-width: 100px; }
  .ImageList .ImageList__Container--grayScale img {
    filter: grayscale(1); }

:root {
  --Card-boxShadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.img-shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.Card {
  border: none;
  background-color: transparent; }

.Card--shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.img-shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.Navbar .NavbarLink,
.Navbar .Navbar__Toggler,
.Navbar .NavbarBrand {
  cursor: pointer; }
  @media (max-width: 768px) {
    .Navbar .NavbarLink img,
    .Navbar .Navbar__Toggler img,
    .Navbar .NavbarBrand img {
      padding: 0rem 1rem; } }

.Navbar .NavbarBrand .Logo {
  max-height: 60px; }

.Navbar .LanguageSwitcher,
.Navbar .nav-item {
  padding: 0.5rem 1rem; }
  .Navbar .LanguageSwitcher .flag-select,
  .Navbar .nav-item .flag-select {
    padding: 0.5rem 0rem; }
    .Navbar .LanguageSwitcher .flag-select .selected--flag--option,
    .Navbar .nav-item .flag-select .selected--flag--option {
      padding: 0px; }

.Navbar--transparent {
  background-color: transparent; }

.Navbar.navbar-down {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.124), 0 4px 8px rgba(0, 0, 0, 0.124); }

.Navbar.Navbar--transparent.navbar-down {
  background-color: rgba(250, 250, 250, 0.9) !important; }

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 0px; } }

a[disabled] {
  pointer-events: none; }

a span {
  margin: 0px 5px; }

:root {
  --Card-boxShadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.img-shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.Card {
  border: none;
  background-color: transparent; }

.Card--shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.ContactInfo__Information {
  line-height: 2rem; }
  .ContactInfo__Information i {
    width: 25px; }

.SocialMediaShareButton {
  display: inline-block;
  cursor: pointer; }
  .SocialMediaShareButton div {
    width: 30px !important;
    height: 30px !important; }
  .SocialMediaShareButton svg {
    width: 30px;
    height: 30px; }

.SocialMediaShareButton--grayScale svg {
  filter: grayscale(1); }

.Footer {
  padding: 2.5rem 0;
  text-align: center; }

.Gif .gif_player {
  width: 100%; }
  .Gif .gif_player img {
    width: 100%;
    height: auto; }

.speech-bubble {
  position: relative;
  margin-left: 10px; }

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: transparent #f8f9fa transparent transparent;
  border-left: 0;
  margin-top: -7px;
  margin-left: -8px;
  z-index: 999; }

.speech-bubble.btn-primary:after {
  border-color: transparent #007bff transparent transparent; }

.speech-bubble.btn-secondary:after {
  border-color: transparent #6c757d transparent transparent; }

.speech-bubble.btn-success:after {
  border-color: transparent #28a745 transparent transparent; }

.speech-bubble.btn-info:after {
  border-color: transparent #17a2b8 transparent transparent; }

.speech-bubble.btn-warning:after {
  border-color: transparent #ffc107 transparent transparent; }

.speech-bubble.btn-danger:after {
  border-color: transparent #dc3545 transparent transparent; }

.speech-bubble.btn-light:after {
  border-color: transparent #f8f9fa transparent transparent; }

.speech-bubble.btn-dark:after {
  border-color: transparent #343a40 transparent transparent; }

.img-shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.Navbar .NavbarLink,
.Navbar .Navbar__Toggler,
.Navbar .NavbarBrand {
  cursor: pointer; }
  @media (max-width: 768px) {
    .Navbar .NavbarLink img,
    .Navbar .Navbar__Toggler img,
    .Navbar .NavbarBrand img {
      padding: 0rem 1rem; } }

.Navbar .NavbarBrand .Logo {
  max-height: 60px; }

.Navbar .LanguageSwitcher,
.Navbar .nav-item {
  padding: 0.5rem 1rem; }
  .Navbar .LanguageSwitcher .flag-select,
  .Navbar .nav-item .flag-select {
    padding: 0.5rem 0rem; }
    .Navbar .LanguageSwitcher .flag-select .selected--flag--option,
    .Navbar .nav-item .flag-select .selected--flag--option {
      padding: 0px; }

.Navbar--transparent {
  background-color: transparent; }

.Navbar.navbar-down {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.124), 0 4px 8px rgba(0, 0, 0, 0.124); }

.Navbar.Navbar--transparent.navbar-down {
  background-color: rgba(250, 250, 250, 0.9) !important; }

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 0px; } }

.Hero .Hero__Particles {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1; }
  .Hero .Hero__Particles div {
    height: 100%; }

.Hero .Hero__Container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2; }
  .Hero .Hero__Container .container {
    margin: auto; }

.Hero .sc-htpNat {
  opacity: 1; }

.Input__Container {
  position: relative; }
  .Input__Container .Input__Container__Icon {
    position: absolute;
    top: 30%; }
  .Input__Container .Input__Container__Conponent--left {
    padding-left: 30px; }
  .Input__Container .Input__Container__Conponent--right {
    padding-right: 30px; }
  .Input__Container .Input__Container__Icon--left {
    left: 10px; }
  .Input__Container .Input__Container__Icon--right {
    right: 10px; }

a[disabled] {
  pointer-events: none; }

a span {
  margin: 0px 5px; }

.LanguageSwitcher .country-flag {
  color: #000; }

.LanguageSwitcher .flag-select .no--focus .country-flag {
  color: #b5b5b5; }
  .LanguageSwitcher .flag-select .no--focus .country-flag img {
    filter: grayscale(0.5); }

.LanguageSwitcher .flag-select .country-label {
  font-size: 0.7rem; }

.LanguageSwitcher .flag-select .flag-option:hover {
  background: #eaeaea;
  color: #000; }

.LanguageSwitcher .flag-select img {
  top: 0px; }

.LanguageSwitcher .flag-options {
  border-radius: 0px; }

.LanguageSwitcher--noflag .flag-select img {
  display: none; }

.LanguageSwitcher--noarrow .arrow-down {
  display: none; }

.Section div {
  margin-left: auto;
  margin-right: auto; }

.SocialMediaShareButton {
  display: inline-block;
  cursor: pointer; }
  .SocialMediaShareButton div {
    width: 30px !important;
    height: 30px !important; }
  .SocialMediaShareButton svg {
    width: 30px;
    height: 30px; }

.SocialMediaShareButton--grayScale svg {
  filter: grayscale(1); }

:root {
  --Card-boxShadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.img-shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.Card {
  border: none;
  background-color: transparent; }

.Card--shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.SocialMediaShareButton {
  display: inline-block;
  cursor: pointer; }
  .SocialMediaShareButton div {
    width: 30px !important;
    height: 30px !important; }
  .SocialMediaShareButton svg {
    width: 30px;
    height: 30px; }

.SocialMediaShareButton--grayScale svg {
  filter: grayscale(1); }

.Team .Card img {
  width: 100px;
  height: 100px;
  margin-top: 1.25rem; }

.Team--center .Card img {
  margin-left: auto;
  margin-right: auto; }

.Team--left .Card img {
  margin-right: auto; }

.Team--right .Card img {
  margin-left: auto; }

.Team__Color {
  position: relative; }
  .Team__Color .Team__Color__Primary {
    height: 90px;
    position: absolute;
    top: 0px;
    width: 100%; }

:root {
  --Card-boxShadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.img-shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.Card {
  border: none;
  background-color: transparent; }

.Card--shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.Features .Card img {
  width: 100px;
  height: 100px;
  margin-top: 1.25rem;
  padding: 1rem; }

.Features--center .Card img {
  margin-left: auto;
  margin-right: auto; }

.Features--left .Card img {
  margin-right: auto; }

.Features--right .Card img {
  margin-left: auto; }

.img-shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.ImageList {
  display: inline-flex;
  flex-wrap: wrap; }
  .ImageList .ImageList__Container {
    margin-left: auto;
    margin-right: auto; }
    .ImageList .ImageList__Container img {
      max-width: 100px; }
  .ImageList .ImageList__Container--grayScale img {
    filter: grayscale(1); }

.Video div {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 20px;
  height: 0 !important;
  width: 100% !important; }
  .Video div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
